.chattingUser {
  height: 75px;
  /* background-color: rgb(160, 160, 160); */
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.chattingUser:hover {
  background-color: rgba(82, 82, 82, 0.418);
  cursor: pointer;
}
.chattingUser.active {
  background-color: rgba(29, 29, 29, 0.678);
  border-left: 4px solid #170225;
  padding-left: 6px;
}
.profileimg {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.548);
  margin: 0;
}
.chattingUserInfo {
  height: 100%;
  width: 100%;
  border-top: 1px solid rgba(97, 97, 97, 0.459);
  display: flex;
  align-items: center;
}
.chattingUserInfo p {
  margin: 0;
}
