<!-- <div class="chatting-details">

    <div class="chatting-details-topber">
        <div class="chatting-details-profile-img">
            <img width="50px"
                src="https://thumbs.dreamstime.com/b/portrait-young-handsome-happy-man-wearing-glasses-casual-smart-blue-clothing-yellow-color-background-square-composition-200740125.jpg" />
            <p style="margin: 0; font-weight: 500; ">{{ chat.name }}</p>
        </div>
        <div class="chatting-details-topber-icon">
            <mat-icon>videocam</mat-icon>
            <mat-icon>call</mat-icon>
            <mat-icon>more_vert</mat-icon>
        </div>
    </div>

    <div class="chatting-details-messages" *ngIf="chatDetails?.length > 0; else noChats">
        <div *ngFor="let chatting of chatDetails" class="chatting-details-message-div">
            <div *ngIf="currentUser" [ngClass]="{
                  'chatting-details-message-self': chatting.senderId === currentUser.userId,
                  'chatting-details-message-reciver': chatting.senderId !== currentUser.userId
                }">
                <p style="margin: 0;">{{ chatting.content }}</p>
            </div>
        </div>
    </div>

    <div class="chatting-details-bottomber">
        <div class="chatting-details-add-item"><mat-icon>add</mat-icon></div>
        <div class="chatting-details-text">
            <div contenteditable="true" data-placeholder="Type here..." (input)="updateContent($event)"></div>
        </div>
        <button (click)="sendMessage()" [hidden]="!messageContent">Send</button>
        <div class="chatting-details-voice-msg" [hidden]="messageContent">
            <mat-icon>keyboard_voice</mat-icon>
        </div>
    </div>

</div> -->


<ng-template #noChats>
    <p>No chats available.</p>
</ng-template>

<div class="main-div">

    <div class="chatting-details-topberPart">
        <div class="chatting-details-profile-img">
            <img width="50px"
                src="https://thumbs.dreamstime.com/b/portrait-young-handsome-happy-man-wearing-glasses-casual-smart-blue-clothing-yellow-color-background-square-composition-200740125.jpg" />
            <p style="margin: 0; font-weight: 500; ">{{ chat.name }}</p>
        </div>
        <div class="chatting-details-topber-icon">
            <mat-icon>videocam</mat-icon>
            <mat-icon>call</mat-icon>
            <mat-icon>more_vert</mat-icon>
        </div>
    </div>

    <div class="chatting-details-messagesPart" *ngIf="chatDetails?.length > 0; else noChats">
        <div *ngFor="let chatting of chatDetails" class="chatting-details-message-div">
            <div *ngIf="currentUser" [ngClass]="{
                  'chatting-details-message-self': chatting.senderId === currentUser.userId,
                  'chatting-details-message-reciver': chatting.senderId !== currentUser.userId
                }">
                <p style="margin: 0;">{{ chatting.content }}</p>
            </div>
        </div>
    </div>

    <div class="chatting-details-bottomberPart">
        <div class="chatting-details-add-item"><mat-icon>add</mat-icon></div>
        <div class="chatting-details-text">
            <div contenteditable="true" [attr.data-placeholder]="!messageContent ? 'Type here message...' : null"
                (input)="updateContent($event)">
            </div>
        </div>

        <div [hidden]="!messageContent">
            <mat-icon (click)="sendMessage()" style="cursor: pointer;">send</mat-icon>
        </div>
        <div class="chatting-details-voice-msg" [hidden]="messageContent">
            <mat-icon>keyboard_voice</mat-icon>
        </div>
    </div>
</div>